<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="app">
        <h1>{{message}}</h1>
        <img :src="src" alt="paesaggio">
        <br>
        Inserisci il tuo nome:<input v-model="name"> <button @click="saluta(); pushNomi()">aggiungi nome</button>
        <span>Ciao {{name}}</span>
        Inserisci una lettera e controlla che ci siano nomi che iniziano con la stessa: <input v-model="iniziale">
        <button @click="filtraNomi">Controlla</button>
        <span>{{iniziale}}</span>
    </div>
   <script src="js/script.js"></script> 
</body>
</html>